@font-face {
    font-family: Lalezar;
    src: url("../Font/Lalezar-Regular.ttf");
    font-weight: normal;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #132C47;
}

/* Navbar styling */
.navbar {
    width: 100%;
    box-shadow: 0 5px 4px 0 #FBAE54;
    font-family: Lalezar;
    display: flex;
    justify-content: space-between; /* Space between button and right-section */
    align-items: center;
    background-color: #E27663;
    padding: 10px 10px;
    color: white;
    font-size: 17px;

}

/* Button styling */
.navbar-btn {
    font-family: Lalezar;
    background-color: #FBAE54;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    width: 70px;
}

.navbar-btn:hover {
    background-color: #FBAE80;
}

/* Right section (links and logo together on the right) */
.right-section {
    display: flex;
    align-items: center;
    margin-left: auto; /* Push the right section to the far right */
}

/* Logo styling */
.logo img {
    height: 45px;
    width: 80px; /* Ensure it's a square to make it circular */

}

/* Navbar links */
.nav-links {
    display: flex;
    margin-right: 20px; /* Space between links and the logo */
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin-left: 20px;
}

.nav-links a:hover {
    background-color: #FBAE80;
    border-radius: 4px;
}

/* Question Creating Box */
.Question {
    border: 5px white solid;
    border-radius: 40px;
    padding: 10px;
    margin-top: 100px;
    margin-right: 80px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 520px;
    width: 35%;
    position: relative;
    background-color: #E27663;
}


.Question select {
    font-family: Lalezar;
    width: 50%; /* Adjust width as needed */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #132C47; /* Main dropdown background color */
    color: white; /* Text color for the dropdown */
    font-size: 1em;
    appearance: none; /* Removes the default dropdown arrow in some browsers */
    cursor: pointer;
    text-align: center;
    margin: 5px 3px;
}

option {
    background-color: #FBAE54;
    color: #132C47;
    padding: 10px;
}

.Question button {
    font-family: Lalezar;
    border: none;
    border-radius: 5px;
    width: 50%; /* Adjust width as needed */
    height: 10%;
    color: white;
    background-color: #FBAE54;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row-reverse;
}